*{
    margin:0;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.correct{
    position:fixed;
    height:90vh;
    display:none;
    visibility:hidden;
    opacity:0;
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
}

.main{
    height:90vh;
    width:80vw;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    border:7px double grey;
}

.cw{
    height:90%;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.cw div{
    height:calc(20% - 1px);
    width:calc(20% - 4px);
    border:3px solid black;
    margin:-1.5px;
    background-color:white;
    font-size:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'DotGothic16', sans-serif;
}

.stock{
    position:fixed;
    height:100vh;
    width:100vw;
    visibility:hidden;
    display:none;
    background-color:black;
    background:rgba(0,0,0,0.5);
    opacity:0;
}

.stock_button{
    height:20%;
}

.stock_switch{
    height:60%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.stock_switch div{
    opacity:1;
    z-index:10;
    height:calc(20% - 20px);
    width:calc(6.6vw - 20px);
    background-color:white;
    margin:8px;
    border-radius:10px;
    border:2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:5vh;
    font-family: 'DotGothic16', sans-serif;
}